<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->
<ion-view view-title="{{event.name}}">
    <ion-header-bar class="bar"  ng-style="{
                            'background-color': '#292929'
                                    }">

    </ion-header-bar>
  <ion-content class="padding" ng-style="{'background-color':'#fff'}">
<!--    <img ng-src="{{event.image}}" style="width: 64px; height: 64px">
    <h3>Notes</h3>
    <p>
      {{event.date}}
    </p>-->

    <div class="list card">

      <div class="item">
        <h2>{{event.name}}</h2>
        <p>{{event.date}}</p>
      </div>

      <div class="item item-image">
        <img src="{{event.image}}">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-ios7-play"></i>
        Go!
      </a>

    </div>

  </ion-content>
</ion-view>
