<ion-side-menus>

    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-left"></i></ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left" is-enabled="MenuService.isEnabled">
        <header class="bar bar-header">
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item item-type="item-icon-left soyloco-menu-text" nav-clear menu-close href="#/app/profile">
                    <i class="icon ion-person soyloco-menu-button"></i>
                    Profile
                </ion-item>
                <ion-item nav-clear menu-close item-type="item item-icon-left soyloco-menu-text"  href="#/app/play">
                    <i class="icon ion-heart soyloco-menu-button"></i>
                    Play
                </ion-item>
                <ion-item item-type="item item-icon-left soyloco-menu-text" nav-clear menu-close href="#/app/categories">
                    <i class="icon ion-ios7-location soyloco-menu-button"></i>
                    Places
                </ion-item>
                <ion-item item-type="item-icon-left soyloco-menu-text" nav-clear menu-close href="#/app/settings">
                    <i class="icon ion-ios7-gear soyloco-menu-button"></i>
                    Settings
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>


<!--<ion-side-menu side="left">
    <header class="bar bar-header bar-dark">
        <h1 class="title">Soyloco</h1>
    </header>
    <ion-content class="has-header">
        <div class="list">

            <div class="item item-button-left"  nav-clear menu-close href="#/app/profile">
                Profile
                <button class="button button-clear">
                    <i class="icon ion-person"></i>
                </button>
            </div>
            <div class="item item-button-left"  nav-clear menu-close href="#/app/categories">
                Places
                <button class="button button-clear">
                    <i class="icon ion-ios7-location-outline"></i>
                </button>
            </div>
            <div class="item item-button-left"  nav-clear menu-close href="#/app/play">
                Play
                <button class="button button-clear">
                    <i class="icon ion-ios7-heart-outline"></i>
                </button>
            </div>
            <div class="item item-button-left"  nav-clear menu-close ng-click="logout()">
                Logout
                <button class="button button-clear">
                    <i class="icon ion-log-out"></i>
                </button>
            </div>
            <div class="item item-button-left"  nav-clear menu-close ng-click="revokePermissions()">
                Revoke Permissions
                <button class="button button-clear">
                    <i class="icon ion-unlocked"></i>
                </button>
            </div>


        </div>

    </ion-content>
</ion-side-menu>

</ion-side-menus>-->
