<ion-view title="soyloco" hide-back-button="true">
    <ion-nav-buttons side="left">
        <i menu-toggle="left" class="icon ion-home ion-navicon soyloco-ion-navicon"></i>
    </ion-nav-buttons>
    <ion-content class="has-header" scroll="false">
        <ion-pane>


            <swipe-cards on-swipe="onSwipe($event)">

                <swipe-cards>
                    <swipe-card on-swipe="nextUser()" id="start-card">
                        Swipe down for a new card
                    </swipe-card>
                    <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)">

                            <div class="title">
                                {{$index}}
                            </div>

                            <div class="image">
                                <img ng-src="{{card.image}}">
                            </div>
                            <div class="button-bar">
                                <button class="button button-clear button-positive" ng-click="goAway()">Answer</button>
                                <button class="button button-clear button-positive" ng-click="goAway()">Decline</button>
                            </div>
                    </swipe-card>
                </swipe-cards>
            </swipe-cards>


            <!--   <swipe-cards on-swipe="onSwipe($event)">

                   <swipe-cards>
                       <swipe-card on-swipe="cardSwiped()" id="start-card">
                           Swipe down for a new card
                       </swipe-card>
                       <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)">

                           <div>
                               <div class="image">
                                   <img ng-src="{{card.image}}">
                               </div>
                               <div class="title">
                                   {{card.title}}
                               </div>
                               <div class="item tabs tabs-secondary tabs-icon-left">
                                   <a class="tab-item" href="#">
                                       <i class="icon ion-android-social"></i>
                                           22
                                   </a>
                                   <a class="tab-item" href="#">
                                       <i class="icon ion-android-location"></i>
                                       4
                                   </a>
                               </div>
                           </div>

                       </swipe-card>
                   </swipe-cards>

               </swipe-cards>-->
<!--            <div class="button-bar">
                <button class="button button-icon ion-close-circled swipe-dislike-icon" ng-click="goAway()"></button>
                <button class="button button-icon ion-checkmark-circled swipe-like-icon" ng-click="goAway()"></button>
            </div>-->
        </ion-pane>



    </ion-content>
</ion-view>
