<ion-view title="soyloco">
    <ion-nav-buttons side="left" class="soyloco-nav-buttons">
        <i menu-toggle="left" class="icon ion-home ion-navicon soyloco-ion-navicon"></i>
    </ion-nav-buttons>


    <ion-slide-box class="slide-test" does-continue="false" show-pager="false" slide-interval="5000" on-slide-changed="">
        <ion-slide>
            <ion-pane>
                <div class="spinner"></div>
            </ion-pane>
        </ion-slide>

        <ion-slide>

            <ion-pane>
                <ion-header-bar class="bar-transparent">
                    <h1 class="title">Help Out</h1>
                </ion-header-bar>

                <swipe-cards on-swipe="onSwipe($event)">

                    <swipe-cards>
                        <swipe-card on-swipe="nextUser(1)" id="start-card">
                            Swipe down for a new card
                        </swipe-card>
                        <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index, cards[$index].userId)">

                            <div class="title">
                                {{$index}}
                            </div>

                            <div class="image">
                                <img ng-src="{{card.image}}">
                            </div>
                            <div class="button-bar">
                                <button class="button button-clear button-positive" ng-click="goAway({{card.userId}})">Nope</button>
                                <button class="button button-clear button-positive" ng-click="goAway({{card.userId}})">Like</button>
                            </div>
                        </swipe-card>
                    </swipe-cards>
                </swipe-cards>

            </ion-pane>

        </ion-slide>

    </ion-slide-box>
</ion-view>