<ion-view view-title="Categories" ng-style="{
                            'background-color': '#1F599E'
                                    }">
    <ion-content has-header="true" >

        <div id="event-categories" ng-style="{
                            'background-color': '#062142',
                            'height': eventCategoriesHeight,
                            'width': eventCategoriesWidth,
                            'margin-top': eventCategoriesMarginTop,
                            'border-radius' : eventCategoriesBorderRadius
                                    }">
            <ion-checkbox class="my-item"
                          ng-repeat="category in categories"
                          ng-model="category.checked"
                          ng-checked="category.checked"
                          ng-change="updateStorage(category)" ng-style="{
                            'color': 'white',
                            'border-radius': checkBoxBorderRadius,
                            'border-color': '#062142',
                            'background-color': '#062142',
                            'margin-left' : '0px',
                            'margin-right' : '0px',
                            'height': checkBoxHeight,
                            'padding-top':paddingTopCheckBoxText,
                            'line-height' : lineHeight
                                    }">
               {{ category.name }}

            </ion-checkbox>
        </div>

    </ion-content>
</ion-view>