<ion-view title="Settings">

    <ion-nav-buttons side="left">
        <i menu-toggle="left" class="icon ion-home ion-navicon soyloco-ion-navicon"></i>
    </ion-nav-buttons>

    <ion-content has-header="true" class="setting-form">
        <div class="row responsive-sm">

            <div class="item item-divider setting-divider">
                Show
            </div>
            <div class="item item-checkbox setting-item">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Men
            </div>
            <div class="item item-divider setting-divider">
            </div>
            <div class="item item-checkbox setting-item">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Women
            </div>

            <div class="item item-divider setting-divider">
            </div>

            <div class="item item-divider setting-divider">
                Limit search to:
            </div>
            <div class="range setting-item">
                <i></i>
                <input type="range" name="age" min="0" max="100">
                <i></i>
            </div>
            <div class="item item-divider setting-divider">
                Show age:
            </div>
            <div class="range setting-item">
                <i></i>
                <input type="range" name="age" min="0" max="100">
                <i></i>
            </div>
        </div>


        <div class="col">
            <ul class="list">
                <div class="item item-divider setting-divider">
                </div>

                <li class="item item-toggle setting-item">
                    Vibration signal
                    <label class="toggle toggle-positive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <div class="item item-divider setting-divider">
                </div>
                <li class="item item-toggle setting-item">
                    Acoustic signal
                    <label class="toggle toggle-positive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>

            </ul>

        </div>

        <div class="item item-divider setting-divider">
        </div>
        <div class="row">

            <div class="col col-45 setting-item">
                <button class="button button-clear setting-button">
                    Contact us
                </button>
            </div>
            <div class="col col-45 col-offset-10 setting-item">
                <button class="button button-clear setting-button" ng-click="logout()" >
                    Log out
                </button>
            </div>
        </div>


    </ion-content>

</ion-view>
