<ion-view view-title="EVENTS">

    <ion-header-bar class="bar bar-subheader bar-stable">
        <div class="button-bar" >
            <a class="button  button-clear " ng-class="{'active' : slideIndex == 0}" ng-click="goToToday()">TODAY</a>
            <a class="button  button-clear " ng-class="{'active' : slideIndex == 1}" ng-click="goToTomorrow()">TOMORROW</a>
            <a class="button  button-clear " ng-class="{'active' : slideIndex == 2}" ng-click="goToWeekend()">WEEKEND</a>
        </div>
    </ion-header-bar>



    <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="deactivateSlide()">
        <ion-slide>
            <ion-content ng-style="{'background-color':'#35465c'}">

                <ion-refresher on-refresh="doRefresh()"></ion-refresher>

                <a ng-repeat="event in events"  href="#/tab/event/{{event.id}}">


                    <div class="container"
                         ng-style="{
                            'width': cardWidth,
                            'height' : cardHeight,
                             'margin': containerMargin,
                            'padding-bottom': containerPaddingBottom
                                    }">
                            <!--<div class="bio">-->
                            <button class="col button button-event"
                                    ng-style="{
                                        'background-image': event.image,
                                        'background-size': backgroundSize,
                                        'background-repeat':'no-repeat',
                                        'height' : cardHeight
                                            }"
                                   >
                                <div class="card-text"
                                     ng-style="{
                                     'height': cardTextHeight,
                                     'padding-top': cardTextPaddingTop,
                                     'font-size': cardTextFontSize
                                        }">
                                    Elisa, 24
                                </div>
                            </button>

                        <!--<div class="content" ng-style="{'height': contentHeight, 'padding-top': contentPaddingTop}">-->
                        <!--</div>-->
                    </div>
                    </div>



                </a>
            </ion-content>

        </ion-slide>
        <ion-slide>
            <ion-content ng-style="{'background-color':'#35465c'}">

                <ion-refresher on-refresh="doRefresh()"></ion-refresher>

                <a ng-repeat="event in events"  href="#/tab/event/{{event.id}}">


                    <div class="container"
                         ng-style="{
                            'width': cardWidth,
                            'height' : cardHeight,
                             'margin': containerMargin,
                            'padding-bottom': containerPaddingBottom
                                    }">
                            <!--<div class="bio">-->
                            <button class="col button button-event"
                                    ng-style="{
                                        'background-image': event.image,
                                        'background-size': backgroundSize,
                                        'background-repeat':'no-repeat',
                                        'height' : cardHeight
                                            }"
                                    >
                                <div class="card-text"
                                     ng-style="{
                                     'height': cardTextHeight,
                                     'padding-top': cardTextPaddingTop,
                                     'font-size': cardTextFontSize
                                        }">
                                    Elisa, 24
                                </div>
                            </button>

                        <!--<div class="content" ng-style="{'height': contentHeight, 'padding-top': contentPaddingTop}">-->
                        <!--</div>-->
                    </div>
                    </div>



                </a>
            </ion-content>

        </ion-slide>
        <ion-slide>
            <ion-content ng-style="{'background-color':'#35465c'}">

                <ion-refresher on-refresh="doRefresh()"></ion-refresher>

                <a ng-repeat="event in events"  href="#/tab/event/{{event.id}}">


                    <div class="container"
                         ng-style="{
                            'height' : containerHeight,
                            'width': containerWidth,
                            'margin': containerMargin,
                            'padding-bottom': containerPaddingBottom
                                    }">
                            <!--<div class="bio">-->
                            <button class="col button button-event"
                                    ng-style="{
                                        'background-image': event.image,
                                        'background-size': backgroundSize,
                                        'background-repeat':'no-repeat',
                                        'height' : cardHeight
                                            }"
                                    >
                                <div class="card-text"
                                     ng-style="{
                                     'height': cardTextHeight,
                                     'padding-top': cardTextPaddingTop,
                                     'font-size': cardTextFontSize
                                        }">
                                    Elisa, 24
                                </div>
                            </button>

                        <!--<div class="content" ng-style="{'height': contentHeight, 'padding-top': contentPaddingTop}">-->
                        <!--</div>-->
                    </div>
                    </div>



                </a>
            </ion-content>

        </ion-slide>
    </ion-slide-box>





</ion-view>
