<ion-view  view-title={{basicInfo.name}} ng-style="{
                            'background-color': '#292929'
                                    }">

    <ion-nav-buttons side="right">
        <!--<a class="button button-icon button-clear ion-gear-a" href="#/settings">-->
        <!--</a>-->
        <button class="button button-icon button-clear ion-android-settings" ng-click="goToSettings()"></button>
    </ion-nav-buttons>

    <ion-content has-header="true"  scroll="true">

        <!--PROFILE IMAGE AND NAME-->

        <div id="profile-content-after-info" ng-style="{
                            'height' : accountContainerAfterInfoHeight,
                            'width' : accountContainerAfterInfoWidth,
                            'background-color': '#fff'
                                    }">

            <div id="profile-content" ng-style="{
                            'height' : accountContainerHeight,
                            'width' : accountContainerWidth,

                            'background-image': accountProfilePhoto,
                            'background-size': backgroundSize,
                            'background-repeat':'no-repeat'
                                    }">
            </div>


        </div>

    </ion-content>

</ion-view>