<ion-view view-title="Account">
    <div class="bar bar-header bar-danger">
        <button class="button button-icon"><i class="icon-person-add"></i></button>
        <h1 class="title">Me</h1>
        <button class="button button-icon"><i class="icon-gear-b"></i></button>
    </div>

    <ion-content has-header="true" ng-if="showView">
        <div id="profile-bg"></div>
        <div id="content">
            <div id="profile-info">
                <img id="profile-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png">
                <h3 id="profile-name">Max</h3>
          <span id="profile-description">Co-creator of <a href="http://twitter.com/ionicframework">@ionicframework</a>, founder of
            <a href="http://twitter.com/driftyco">@driftyco</a></span>
            </div>

            <div class="list">

                <div class="item item-input item-select">
                    <div class="input-label">
                        City
                    </div>
                    <select ng-model="city" ng-init="city=cities[myCity.id]" ng-options="city.name for city in cities" ng-change="updateStorage(city)"></select>
                </div>
                <a class="item" href="#/tab/select-categories">
                        Event categories
                </a>

            </div>

        </div>
    </ion-content>
</ion-view>