<ion-view view-title="Events">

    <ion-header-bar class="bar bar-subheader bar-stable">
        <div class="button-bar" >
            <a class="button" ng-class="{'active' : slideIndex == 0}" ng-click="goToToday()">Today</a>
            <a class="button" ng-class="{'active' : slideIndex == 1}" ng-click="goToTomorrow()">Tomorrow</a>
            <a class="button" ng-class="{'active' : slideIndex == 2}" ng-click="goToWeekend()">Weekend</a>
        </div>
    </ion-header-bar>


    <!--<div class="bar bar-stable">-->

    <!--<div class="button-bar" >-->
    <!--<a class="button">All</a>-->
    <!--<a class="button">Channel 1</a>-->
    <!--<a class="button">Channel 2</a>-->
    <!--<a class="button">Channel 3</a>-->
    <!--<a class="button">Channel 4</a>-->
    <!--</div>-->

    <!--</div>-->




    <ion-slide-box on-slide-changed="slideChanged(index)" >
        <ion-slide>
            <ion-content ng-style="{'background-color':'#35465c'}">

                <ion-refresher on-refresh="doRefresh()"></ion-refresher>

                <a ng-repeat="event in events"  href="#/tab/event/{{event.id}}">
                    <div class="container"
                         ng-style="{
        'width': cardWidth,
        'margin': containerMargin,
        'padding-bottom': containerPaddingBottom
        }">
                        <header>
                            <div class="bio">
                                <img src="{{event.image}}" alt="background" class="bg"
                                     ng-style="{'width': cardWidth, 'height': cardHeight}">
                                <div class="desc"
                                     ng-style="{'padding-top': descPaddingTop, 'padding-left':descPaddingLeft}">
                                    <h3 ng-style="{'font-size': descH3FontSize, 'margin-bottom': descMarginBottom}">VIP ROOM</h3>
                                    <p ng-style="{'padding-top': descpPaddingTop}">Nightlife Sab 31 Gen, 01:00AM</p>
                                </div>
                            </div>
                            <!--<div class="avatarcontainer">-->
                            <!--<img src="http://www.croop.cl/UI/twitter/images/carl.jpg" alt="avatar" class="avatar">-->
                            <!--<div class="icon-twitter"></div>-->
                            <!--</div>-->
                        </header>

                        <div class="content" ng-style="{'height': contentHeight, 'padding-top': contentPaddingTop}">
                            <div class="data">
                                <ul>
                                    <li>
                                        2,934
                                        <span>Tweets</span>
                                    </li>
                                    <li>
                                        1,119
                                        <span>Followers</span>
                                    </li>
                                    <li>
                                        530
                                        <span>Following</span>
                                    </li>
                                </ul>
                            </div>


                        </div>


                    </div>
                </a>
            </ion-content>

        </ion-slide>
        <ion-slide>
            <ion-content ng-style="{'background-color':'#35465c'}">
                <ion-refresher on-refresh="doRefresh()"></ion-refresher>

                <a ng-repeat="event in events"  href="#/tab/event/{{event.id}}">
                    <div class="container"
                         ng-style="{
        'width': cardWidth,
        'margin': containerMargin,
        'padding-bottom': containerPaddingBottom
        }">
                        <header>
                            <div class="bio">
                                <img src="{{event.image}}" alt="background" class="bg"
                                     ng-style="{'width': cardWidth, 'height': cardHeight}">
                                <div class="desc"
                                     ng-style="{'padding-top': descPaddingTop, 'padding-left':descPaddingLeft}">
                                    <h3 ng-style="{'font-size': descH3FontSize, 'margin-bottom': descMarginBottom}">VIP ROOM</h3>
                                    <p ng-style="{'padding-top': descpPaddingTop}">Nightlife Sab 31 Gen, 01:00AM</p>
                                </div>
                            </div>
                            <!--<div class="avatarcontainer">-->
                            <!--<img src="http://www.croop.cl/UI/twitter/images/carl.jpg" alt="avatar" class="avatar">-->
                            <!--<div class="icon-twitter"></div>-->
                            <!--</div>-->
                        </header>

                        <div class="content" ng-style="{'height': contentHeight, 'padding-top': contentPaddingTop}">
                            <div class="data">
                                <ul>
                                    <li>
                                        2,934
                                        <span>Tweets</span>
                                    </li>
                                    <li>
                                        1,119
                                        <span>Followers</span>
                                    </li>
                                    <li>
                                        530
                                        <span>Following</span>
                                    </li>
                                </ul>
                            </div>


                        </div>


                    </div>
                </a>
            </ion-content>

        </ion-slide>
        <ion-slide>
            <ion-content ng-style="{'background-color':'#35465c'}">
                <ion-refresher on-refresh="doRefresh()"></ion-refresher>

                <a ng-repeat="event in events"  href="#/tab/event/{{event.id}}">
                    <div class="container"
                         ng-style="{
        'width': cardWidth,
        'margin': containerMargin,
        'padding-bottom': containerPaddingBottom
        }">
                        <header>
                            <div class="bio">
                                <img src="{{event.image}}" alt="background" class="bg"
                                     ng-style="{'width': cardWidth, 'height': cardHeight}">
                                <div class="desc"
                                     ng-style="{'padding-top': descPaddingTop, 'padding-left':descPaddingLeft}">
                                    <h3 ng-style="{'font-size': descH3FontSize, 'margin-bottom': descMarginBottom}">VIP ROOM</h3>
                                    <p ng-style="{'padding-top': descpPaddingTop}">Nightlife Sab 31 Gen, 01:00AM</p>
                                </div>
                            </div>
                            <!--<div class="avatarcontainer">-->
                            <!--<img src="http://www.croop.cl/UI/twitter/images/carl.jpg" alt="avatar" class="avatar">-->
                            <!--<div class="icon-twitter"></div>-->
                            <!--</div>-->
                        </header>

                        <div class="content" ng-style="{'height': contentHeight, 'padding-top': contentPaddingTop}">
                            <div class="data">
                                <ul>
                                    <li>
                                        2,934
                                        <span>Tweets</span>
                                    </li>
                                    <li>
                                        1,119
                                        <span>Followers</span>
                                    </li>
                                    <li>
                                        530
                                        <span>Following</span>
                                    </li>
                                </ul>
                            </div>


                        </div>


                    </div>
                </a>
            </ion-content>

        </ion-slide>
    </ion-slide-box>






</ion-view>
