<ion-view view-title="Play" hide-back-button="true" hide-nav-bar="true">

<ion-pane no-scroll ng-style="{'background-color':'#32506d'}">


      <swipe-cards>


      <!-- CARD 1 -->

      <div class="card">

        <swipe-card on-card-swipe="cardSwiped()"
                    id="start-card"
                    ng-style="{'background-color':'red', 'left' : left, 'top': top,
                    'width': width, 'height': height, 'margin-left': marginLeft,
                    'margin-top' : marginTop}" >
          Swipe down for a new card
        </swipe-card>

      </div>

      <swipe-card ng-repeat="card in cards"
                  on-destroy="cardDestroyed($index)"
                  on-card-swipe="cardSwiped($index)"
                  ng-style="{'left' : left, 'top': top, 'width': width, 'height': height,
                  'margin-left': marginLeft, 'margin-top' : marginTop}" >

        <div ng-controller="CardCtrl" >
          <div class="image" ng-click="goAway()"
                  >
            <img ng-src="{{card.image}}"
                 ng-style="{'width':width, 'height':height}"
                 class="img-responsive"
                 ng-click="image.selected = !image.selected"
                 ng-class="{ 'selected-image': image.selected }">
          </div>
        </div>
      </swipe-card>

          </swipe-cards>

      <!-- CARD 2 -->

          <swipe-cards2>

          <div class="card">

        <swipe-card2 on-card-swipe="cardSwiped()"
                    id="start-card2"
                    ng-style="{'background-color':'red', 'left' : left2, 'top': top2,
                    'width': width2, 'height': height2, 'margin-left': marginLeft2,
                    'margin-top' : marginTop2}" >
          Swipe down for a new card
        </swipe-card2>

      </div>

      <swipe-card2 ng-repeat="card in cards"
                  on-destroy="cardDestroyed($index)"
                  on-card-swipe="cardSwiped($index)"
                  ng-style="{'background-color':'red', 'left' : left2, 'top': top2,
                  'width': width2, 'height': height2, 'margin-left': marginLeft2,
                  'margin-top' : marginTop2}" >

        <div ng-controller="CardCtrl" >
          <div class="image" ng-click="goAway()">
              <img ng-src="{{card.image}}"
                   ng-style="{'width':width, 'height':height}"
                   class="img-responsive"
                   ng-click="image.selected = !image.selected"
                   ng-class="{ 'selected-image': image.selected }">
          </div>
        </div>
      </swipe-card2>
          </swipe-cards2>

  </ion-pane>

</ion-view>
