<ion-view>


  <ion-content class="has-header padding">
    <h1>Settings</h1>
      <div class="row">

          <div class="col col-45 setting-item">
              <button class="button button-clear setting-button">
                  Contact us
              </button>
          </div>
          <div class="col col-45 col-offset-10 setting-item">
              <button class="button button-clear setting-button" ng-click="logout()" >
                  Log out
              </button>
          </div>
      </div>
  </ion-content>
</ion-view>
