<ion-view scroll>

    <ion-nav-buttons side="left">

        <div class="up-menu">
            <div class="menu-bar">
                <button menu-toggle="left" class="button button-icon ion-navicon-round"></button>
            </div>

            <div class="button-bar">
                <button  ng-if="true" class="button button-icon  ion-ios7-star" ng-class="{'active' : slideIndex == 0}" ng-click="goToAll()"></button>

                <button  ng-if="true" class="button button-icon  ion-ios7-people" ng-class="{'active' : slideIndex == 1}" ng-click="goToWhoYouLike()"></button>

                <button ng-if="true" class="button button-icon  ion-person" ng-class="{'active' : slideIndex == 2}"  ng-click="goToWhoLikesYou()"></button>

                <button ng-if="true" class="button button-icon  ion-person-stalker" ng-class="{'active' : slideIndex == 3}"  ng-click="goToMatches()"></button>
            </div>

        </div>
        <div class="bar bar-subheader">

         <!--   <button ng-if="true" class="button button-icon button-clear ion-pinpoint " >

            </button>-->
            <a ng-if="true" class="subheader-viewname">
                {{viewName}}

            </a>



        </div>

    </ion-nav-buttons>


    <ion-content header-shrink scroll-event-interval="1">

        <div class="map">

            <google-map data-tap-disabled="true" ng-if="showMap"
                        center="map.center"
                        zoom="map.zoom"
                        draggable="true"
                        control="googleMap"
                        mark-click="false"
                        pan="true"
                        options="map.options">
                <marker ng-if="map.selfMarker.isReady" coords="map.selfMarker"
                        icon="map.selfMarker.icon">
                </marker>

                <markers ng-if="slideIndex == 0" models="map.markersAll" coords="'self'" icon="'icon'" click="'onClicked'"></markers>
                <markers ng-if="slideIndex == 1" models="map.markersWhoYouLike" coords="'self'" icon="'icon'" click="'onClicked'"></markers>
                <markers ng-if="slideIndex == 2" models="map.markersWhoLikesYou" coords="'self'" icon="'icon'" click="'onClicked'"></markers>
                <markers ng-if="slideIndex == 3" models="map.markersMatches" coords="'self'" icon="'icon'" click="'onClicked'"></markers>

                <!--
                        <markers models="map.markers" coords="'self'" icon="'icon'"></markers>
></markers>
                    -->

            </google-map>

        </div>

        <ion-slide-box ng-if="showMap" show-pager="false" does-continue="false" on-slide-changed="slideChanged(index)">
            <ion-slide>
                <ion-list>
                    <ion-item ng-repeat="place in category.myPlaces"
                              class="item item-thumbnail-left" ng-click="puOnTop(place)">
                        <img ng-src="{{ place.image }}">
                        <h2>{{place.name}}</h2>
                        <p>{{place.address}}</p>
                    </ion-item>
                </ion-list>
            </ion-slide>
            <ion-slide>
                <ion-list>
                    <ion-item ng-repeat="place in category.otherPlaces"
                              class="item item-thumbnail-left" ng-click="puOnTop(place)">
                        <img ng-src="{{ place.image }}">
                        <h2>{{place.name}}</h2>
                        <p>{{place.address}}</p>
                    </ion-item>
                </ion-list>
            </ion-slide>
            <ion-slide>
                <ion-list>
                    <ion-item ng-repeat="place in category.myPlaces"
                              class="item item-thumbnail-left" ng-click="puOnTop(place)">
                        <img ng-src="{{ place.image }}">
                        <h2>{{place.name}}</h2>
                        <p>{{place.address}}</p>
                    </ion-item>
                </ion-list>
            </ion-slide>
            <ion-slide>
                <ion-list>
                    <ion-item ng-repeat="place in category.otherPlaces"
                              class="item item-thumbnail-left" ng-click="puOnTop(place)">
                        <img ng-src="{{ place.image }}">
                        <h2>{{place.name}}</h2>
                        <p>{{place.address}}</p>
                    </ion-item>
                </ion-list>
            </ion-slide>
        </ion-slide-box>
    </ion-content>


    <!--
        </ion-pane>
    -->
</ion-view>
