<ion-view view-title="Account" ng-style="{
                            'background-color': '#1F599E'
                                    }">

    <ion-content has-header="true" ng-if="showView" >


        <!--PROFILE IMAGE AND NAME-->

        <div id="content" ng-style="{
                            'margin-top': contentMarginTop,
                            'padding-top': contentPaddingTop
                                    }">
            <div id="profile-info" ng-style="{
                            'top': profileInfoTop
                                    }">
                <img id="profile-image" ng-src="{{profilePhoto}}" ng-style="{
                            'width': imageWidth,
                            'height': imageHeight,
                            'border-radius': imageBorderRadius
                                    }">
                <h3 id="profile-name" ng-style="{
                            'margin-top': profileNameMarginTop
                                    }"
                        >
                    {{basicInfo.name}}
                </h3>
            </div>



            <!--CITY SELECTOR EXPERIMENTAL-->

            <div
                 ng-style="{
                                'margin-top': buttonBoxMarginTop
                                    }">
                <button
                        class="button button-block button-assertive"
                        ng-style="{
                            'height': buttonHeight,
                            'width': buttonBoxWidth,
                            'margin-left': 'auto',
                            'margin-right': 'auto',
                            'text-align':'left',
                            'border':'none',
                            'border-radius' : buttonBorderRadius
                                    }"
                        ng-click="openModal()">{{modalData.msg.value}}
                </button>
            </div>

            <!--CITY SELECTOR-->

            <!--<div id="city-event-block" ng-style="{-->
                            <!--'margin-top': buttonBoxMarginTop-->
                            <!--}">-->

                <!--<div class="item item-input item-select"-->
                            <!--ng-style="{-->
                            <!--'height': buttonHeight,-->
                            <!--'width': buttonBoxWidth,-->
                            <!--'margin-left': 'auto',-->
                            <!--'margin-right': 'auto',-->
                            <!--'color': 'white',-->
                            <!--'border':'none',-->
                            <!--'background-color': '#062142',-->
                            <!--'border-radius' : buttonBorderRadius-->
                                    <!--}">-->
                    <!--<div class="input-label"-->
                            <!--ng-style="{-->
                               <!--'color': 'white',-->
                               <!--'background-color': '#062142'-->
                                    <!--}">-->
                        <!--City-->
                    <!--</div>-->
                    <!--<select ng-model="city"-->
                                <!--ng-init="city=cities[myCity.id]"-->
                            <!--ng-options="city.name for city in cities"-->
                            <!--ng-change="updateCity(city)"-->
                            <!--ng-style="{-->
                                <!--'background-color': '#062142',-->
                                <!--'color': 'white'-->
                                    <!--}">-->

                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->

            <!--EVENT CATEGORIES SELECTOR-->

            <div id="event-block" ng-style="{
                            'padding-top': intraButtonPaddingTop
                                    }">


                <a class="item" href="#/app/selectCategories"
                            ng-style="{
                                'width': buttonBoxWidth,
                                'margin-left': 'auto',
                                'margin-right': 'auto',
                                'color': 'white',
                                'border':'none',
                                'background-color': '#062142',
                                'height': buttonHeight,
                                'border-radius' : buttonBorderRadius
                                    }">
                    Event categories
                </a>

            </div>


            <!--GENDER SELECTOR-->

            <div id="gender-selector"
                            ng-style="{
                                'margin-top': buttonBoxMarginTop,
                                'width': buttonBoxWidth,
                            'margin-left': 'auto',
                            'margin-right': 'auto'
                                    }">

                <div id="show-gender-text"
                            ng-style="{
                                'padding-left': genderTextPaddingLeft,
                                'padding-bottom': genderTextPaddingBottom,
                                'margin-left': 'auto',
                                'margin-right': 'auto'
                                    }">Show</div>

                <div id="gender-checkbox"
                            ng-style="{
                                'background-color': '#062142',
                                'height': genderCheckboxHeight,
                                'width': buttonBoxWidth,
                                'border-radius' : buttonBorderRadius,
                                'margin-left': 'auto',
                                'margin-right': 'auto'
                                    }">
                    <ion-checkbox
                            class="item item-checkbox"
                            ng-repeat="gender in genders"
                            ng-model="gender.checked"
                            ng-checked="gender.checked"
                            ng-change="updateGender(gender)"
                            ng-style="{
                                'height': buttonHeight,
                                'margin-left': 'auto',
                                'margin-right': 'auto',
                                'color': 'white',
                                'border-radius': adHocInternalBorderRadius,
                                'border-color': '#062142',
                                'background-color': '#062142',
                                'padding-top':paddingTopCheckBoxText,
                                'line-height' : lineHeight
                                    }">

                        {{ gender.type }}

                     </ion-checkbox>
                </div>
            </div>

            <!--LOGOUT BUTTON-->

            <div id="logout-button"
                            ng-style="{
                                'margin-top': buttonBoxMarginTop
                                    }">
                <button
                        class="button button-block button-assertive"
                        ng-click="logout()"
                        ng-style="{
                            'height': buttonHeight,
                            'width': buttonBoxWidth,
                            'margin-left': 'auto',
                            'margin-right': 'auto',
                            'text-align':'left',
                            'border':'none',
                            'border-radius' : buttonBorderRadius
                                    }"
                        >
                    Logout
                </button>
            </div>

        </div>

    </ion-content>
</ion-view>