<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-clear">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="left-menu" >

        <ion-content class="light" scroll="false">

        <ul class="list">
            <a class="item menu-item-profile"
               href="#/app/account"
               ng-style="{
                            'height' : profileItemHeight,
                            'margin-top': '-5px',
                            'padding-top': profileItemPaddingTop,
                            'background-color': '#292929',
                            'border-color': '#292929'
                                    }"
               nav-clear menu-close>

                <!-- circular image -->
                <img id="profile-image" ng-src="{{profilePhoto}}"
                     ng-style="{
                            'width': imageWidth,
                            'height': imageHeight,
                            'border-radius': imageBorderRadius
                                    }">
                <h3 id="profile-name" ng-style="{
                            'margin-top': profileNameMarginTop
                                    }"
                        >
                    {{basicInfo.name}}
                </h3>
                <h3 id="profile-view" ng-style="{
                            'margin-top': profileViewMarginTop
                                    }"
                        >
                    view profile
                </h3>
            </a>
            <a class="item item-icon-left" href="#/app/play" nav-clear menu-close>
                <i class="icon ion-android-favorite ion-heart-specs"></i>
                Play
            </a>
            <a class="item item-icon-left" href="#/app/events" nav-clear menu-close>
                <i class="icon ion-android-star ion-heart-specs"></i>
                Events
            </a>
            <!--<a class="item item-icon-left" href="#/app/account" nav-clear menu-close>-->
                <!--<i class="icon ion-android-person ion-heart-specs"></i>-->
                <!--Account-->
            <!--</a>-->
            <a class="item item-icon-left" href="#/app/invite" nav-clear menu-close>
                <i class="icon ion-android-share-alt"></i>
                Share Splash
            </a>

        </ul>
            </ion-content>


    </ion-side-menu>
</ion-side-menus>