<ion-view title="Events"  hide-back-button="true" scroll>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content has-header="true" padding="true">


   <img ng-src="data:image/jpg,{{fbProfilePicture}}"  />
    <img ng-src="data:image/jpg;base64,{{fbProfilePicture}}"  />


<!--    <img style="vertical-align:middle" ng-src="{{fbProfilePicture}}" class="circular"/> -->

    <div class="list card">
      <div class="item item-image">
        <img ng-src="{{ foto.url }}" />
      </div>
    </div>

  </ion-content>

</ion-view>


