/* Your app's CSS, go crazy, make it your own */



/*INTRO*/


.login-slider {
    height: 80%;
}

.slider {
    height: 100%;
}
.slider-slide {
    padding-top: 30px;
    color: #000;
    background-color: #ffffff;
    text-align: center;
    font-size: 28px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}


#facebook-logo {
    width: 90% ;
    margin-left: auto ;
    margin-right: auto ;
    background-color:#ffffff;

}

.facebook-button {
    background-color: #3b5998;
    color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    font-size: 19px;
}

#facebook-disclaimer {
    color: #000000;
    width: 90% ;
    margin-left: auto ;
    margin-right: auto ;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}
#list ol {
    margin-top: 30px;
}
#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}

.facebook-login-loader {
    font-size: 40px;
    color: #ffffff;

}




/*
MENU VIEW
*/

.soyloco-ion-navicon {
    width: 40px;
    height:40px;
    text-align:center;
    font-size: 45px;
    /*padding-left: 8px;*/
    padding-bottom: 30px;
    border-style: solid;
    border-width: 2px;
}

.soyloco-menu-button {
    font-size: 64px;
    color: #000000;
}

.soyloco-menu-text {
    font-size: 27px;
    text-decoration: none;
    color: #000000;
    padding-top: 30px;
    border-style: none;
}



/*
PLACES VIEW
*/

.soyloco-place-button {
    font-size: 45px;
    color: #000000;
}

.soyloco-place-text {
    font-size: 22px;
    text-decoration: none;
    color: #000000;
    padding-top: 5px;
    padding-bottom: 25px
    border-style: dotted;
}



/*
PLACE VIEW
*/

.soyloco-match-button {
    color: #ffffff;
}



/*
SWIPE IN PLAY VIEW
*/

.pane {
    background-color: #fff !important;
}

.pane .play {
    background-color: #E0D7CE;
}

.bar.bar-transparent {
    background-color: transparent;
    background-image: none;
    border: none;
}

.bar .title {
    color: #eee;
}

.swipe-cards {
    position: fixed;
}

.swipe-card {
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    display: none;
    position: fixed;
    -webkit-transform: scale(1,1);
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
    box-sizing: border-box;
    background-color: rgb(255,255,255);
    border-radius: 4px;
    overflow: hidden;
    -webkit-animation-fill-mode: forwards;
}

.swipe-card .title {
    height: 40px;
    padding: 5px;
    line-height: 30px;
    color: #444;
}
.swipe-card .image {
    overflow: hidden;
    max-height: 210px;
}
.swipe-card .button {
    border: none;
}
.swipe-card .image img {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
}

#start-card {
    color: #fff;
    background-color: #45668e;
    line-height: 300px;
    word-wrap: break-word;
    border: 6px solid #45668e;
    text-align: center;
}
#start-card span {
    display: inline-block;
    line-height: 40px;
    width: 200px;
    font-size: 30px;
    vertical-align: middle;
}

@-webkit-keyframes bounceIn {
    0% {
        -webkit-transform: scale(0,0);
    }
    70% {
        -webkit-transform: scale(1.2,1.2);
    }
    100% {
        -webkit-transform: scale(1,1);
    }
}

.swipe-card.pop-in-start {
    -webkit-transform: scale(0,0);
}
.swipe-card.pop-in {
    -webkit-animation: bounceIn 0.3s ease-out;
}




#pulse1, #pulse2 {
    width: 100px;
    height: 100px;
    border-radius: 800px;
    -webkit-animation: out 6s infinite ease-out;
    animation: out 6s infinite ease-out;
    background: #FA664F;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -50px 0px 0px -50px;
}

#pulse1 {
    -webkit-animation: out 6s -3s  infinite ease-out;
    animation: out 6s -3s infinite ease-out;
}



@-webkit-keyframes out {
    0% {box-shadow: 0px 0px 0px 0px #FA664F;}
    100% {box-shadow: 0px 0px 0px 150px rgba(0, 0, 0, 0.0);}
}

@keyframes out {
    0% {box-shadow: 0px 0px 0px 0px #FA664F;}
    100% {box-shadow: 0px 0px 0px 150px rgba(0, 0, 0, 0.0);}
}











/*
MAP IN CATEOGRY VIEW
*/

.scroll-content{
    z-index: 11;
    background-color:white;
}

.item{
    /*  visibility: hidden;*/
}

.map{
    position: relative;
    padding-bottom: 75%;
    padding-top: 30px; height: 0; overflow: hidden;
}



.angular-google-map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/*
SETTINGS VIEW
*/


.setting-form {
    background: #e6e5eb;
}

div.ex
{
    padding:3px;
    border-radius:.75rem;
    background:#ffffff;
    border-style: none;
}

.setting-item {
    background: #ffffff;
    color:#383641;
    border-radius:.75rem;
    font-size:20px;
    border-style: none;
    width: 100%;

}

.setting-divider {
    background: #e6e5eb;
    border-style: none;
    font-size:22px;

}

.setting-button {
    font-size:18px;
    color:#000000;
    text-align:center;
}

