/* Your app's CSS, go crazy, make it your own */


/*************************************
*   LOGIN
*/

.login-slider {
    height: 80%;
}

.slider {
    height: 100%;
}
.slider-slide {
    padding-top: 0px;
    color: #000;
    background-color: #ffffff;
    text-align: center;
    font-size: 28px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#facebook-logo {
    width: 90% ;
    margin-left: auto ;
    margin-right: auto ;
    background-color:#ffffff;

}

.facebook-button {
    background-color: #3b5998;
    color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    font-size: 19px;
}


#facebook-disclaimer {
    color: #000000;
    width: 90% ;
    margin-left: auto ;
    margin-right: auto ;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}
#list ol {
    margin-top: 30px;
}
#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}

.facebook-login-loader {
    font-size: 40px;
    color: #ffffff;

}



/*************************************
*   TABS
*/
.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
    opacity: 1;
    background:#3f729b;
}


/*************************************
*   PLAY VIEW
*/

.play-slider {
    height: 100%;
}


/*BUTTONS*/


.swipe-button-left {
    margin-top: 385px;
    position: relative;
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
    z-index: 1;
}

.swipe-button-right {
    margin-top: 385px;
    position: relative;
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
    z-index: 1;
}


.icon-cancel-soyloco {
    font-size: 2.3em;
    color:#3f729b;
    display: block;
/*
    background-color: #f7f7f7;
*/
    margin: 22.5px;
    width: 90px;
    height: 90px;
    position: relative;
    text-align: center;
    line-height: 83.75px;
    border-radius: 50%;
    vertical-align:middle;
/*
    box-shadow: 0px 1px 1px #aaa, inset 0px 2px 3px #fff;
*/
}



.icon-heart-soyloco {
    font-size: 2.3em;
    color:#76EE00;
    display: block;
    background-color: #f7f7f7;
    margin: 22.5px;
    width: 90px;
    height: 90px;
    position: relative;
    text-align: center;
    line-height: 83.75px;
    border-radius: 50%;
    vertical-align:middle;

    /*
        box-shadow: 0px 1px 1px #aaa, inset 0px 2px 3px #fff;
    */
}

/*
SWIPE IN PLAY VIEW
*/

.pane {
    background-color: #fff !important;

}

.swipe-cards {
    position: fixed;
    z-index: 2;
}

.swipe-card {
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    display: none;
    position: fixed;
    -webkit-transform: scale(1,1);
    left: 50%;
    top: 40%;
    width: 343px;
    height: 335px;
    margin-left: -171.5px;
    margin-top: -167.5px;
    box-sizing: border-box;
    background-color: rgb(255,255,255);
    border-radius: 4px;
    overflow: hidden;
    -webkit-animation-fill-mode: forwards;
    border-color: #888;
    border: 1px solid;
}

.swipe-card .image {
    overflow: hidden;
    width: 343px;
    height: 335px;

}

.swipe-card .image img {
    width: 100%;
    height:85%;
    border-radius: 0px 0px 0px 0px;
}


/*
SPINNER
*/



.loading {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -25px;
    height: 80px;
}

.loading-block {
    width: 10px;
    height: 40px;
    background: #B25B91;
    background-image: -o-linear-gradient(-90deg, #282BD8 0%, #F475DC 0%, #B25B91 100%);
    background-image: -moz-linear-gradient(-90deg, #282BD8 0%, #F475DC 0%, #B25B91 100%);
    background-image: -webkit-linear-gradient(-90deg, #282BD8 0%, #F475DC 0%, #B25B91 100%);
    background-image: -ms-linear-gradient(-90deg, #282BD8 0%, #F475DC 0%, #B25B91 100%);
    background-image: linear-gradient(-180deg, #282BD8 0%, #F475DC 0%, #B25B91 100%);
    margin-left: 5px;
    float: left;
    border-radius: 4px;
    border: 1px solid #9C4F78;
}

.loading-block:first-child {
    -webkit-animation: block-animation .6s ease-out 0 infinite alternate;
}

.loading-block:nth-child(2) {
    -webkit-animation: block-animation .6s ease-out 0.3s infinite alternate;
}

.loading-block:nth-child(3) {
    -webkit-animation: block-animation .6s ease-out 0.6s infinite alternate;
}


@-webkit-keyframes block-animation {
    0% { opacity: 1; height: 40px; margin-top:0px  }
    /* 50% { opacity: .5; } */
    100% { opacity: .4; height: 10px; margin-top:20px }
}

.loading-label {
    font-family: Lato;
    color: #aaa;
    font-size: 16px;
    position: absolute;
    bottom: 0;
}




















.spinner{
    width:4em;
    height:4em;
    background:#4884b5;
    border-radius:50%;
    margin:9em auto;
    border:.3em solid transparent;
    -webkit-animation:glow 2s ease infinite;
    -moz-animation:glow 2s ease infinite;
    -o-animation:glow 2s ease infinite;
    animation:glow 2s ease infinite;

}
@-webkit-keyframes glow {
    0% {
        box-shadow: 0 0 0 .4em #4884b5,
        0 0 0 .1em #45668e;
        -webkit-transform: rotate(360deg);
    }
    50% {
        border-top-color: #45668e;
    }
    100% {
        box-shadow: 0 0 0 .4em #4884b5,
        0 0 0 3.6em transparent;
    }
}

@-moz-keyframes glow {
    0% {
        box-shadow: 0 0 0 .4em #4884b5,
        0 0 0 .1em #4884b5;
        -moz-transform: rotate(360deg);
    }
    50% {
        border-top-color: #605556;
    }
    100% {
        box-shadow: 0 0 0 .4em #4884b5,
        0 0 0 3.6em transparent;
    }
}
@-o-keyframes glow {
    0% {
        box-shadow: 0 0 0 .4em #4884b5,
        0 0 0 .1em #4884b5;
        -o-transform: rotate(360deg);
    }
    50% {
        border-top-color: #605556;
    }
    100% {
        box-shadow: 0 0 0 .4em #4884b5,
        0 0 0 3.6em transparent;
    }
}
@keyframes glow {
    0%{
        box-shadow:0 0 0 .4em #4884b5,
        0 0 0 .1em #4884b5;
        transform:rotate(360deg);
    }
    50%{border-top-color:#605556;}
    100%{
        box-shadow:0 0 0 .4em #4884b5,
        0 0 0 3.6em transparent;
    }

}


/*************************************
*   CATEGORY VIEW
*/

/*
MAP
*/


.who-you-like-icon {
    font-size:25px;
}

.who-likes-you-icon {
    font-size:23px;
}

.both-like-icon {
    font-size:20px;
}


.scroll-content{
    z-index: 11;
    background-color:white;
}

.item{
    /*  visibility: hidden;*/
}

.map {
    position: relative;
    padding-bottom: 93%;
    padding-top: 30px; height: 0; overflow: hidden;
    background-color: #ccc;
}


.angular-google-map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }